@model IEnumerable<DbWebApplication.Models.ProductModel>

<button type="button" class="btn btn-success"><a asp-action="Create">Create New</a></button>
<button type="button" class="btn btn-warning"><a asp-action="Truncate">Delete All</a></button>

<div class="container d-flex flex-wrap">

    @foreach(var item in Model)
    {
        var s = item.Name;
        var firstWord = s.IndexOf(" ") > -1 ? s.Substring(0, s.IndexOf(" ")) : s;

        <div class="card border-info mb-3" style="width: 18rem;">
                <div class="card-header">@item.Name</div>
                <img class="card-img-top" src="https://loremflickr.com/150/150/@firstWord?lock=@item.Id" alt="@item.Name">
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(m => item.Price)</h4>
                    <a href="/product/Details/@item.Id" class="btn btn-primary">Show Details</a>
                    <a href="/product/Edit/@item.Id" class="btn btn-info">Edit</a>
                    <a href="/product/Delete/@item.Id" class="btn btn-danger">Delete</a>
                </div>
        </div>       
     }
</div>