@model IEnumerable<DbWebApplication.Models.ProductModel>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Truncate">Delete All</a>
</p>

<div class="container d-flex flex-wrap">

    @foreach(var item in Model)
    {
        var s = item.Name;
        var firstWord = s.IndexOf(" ") > -1 ? s.Substring(0, s.IndexOf(" ")) : s;

        <div class="card border-info mb-3" style="width: 18rem;">
                <div class="card-header">@item.Name</div>
                <img class="card-img-top" src="https://loremflickr.com/150/150/@firstWord?lock=@item.Id" alt="@item.Name">
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(m => item.Price)</h4>
                    <p class="card-text">@item.Description</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
        </div>       
     }
</div>