@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy is very important when creating a web app, if you want to learn more go to <a href="https://youtu.be/dQw4w9WgXcQ">this little tutorial</a>.</p>
